h1 {
  background-color: rgb(150, 219, 121); /*Light Green*/
  text-align: center;
}
p {
  font-size: 120%;
}
.headfoot, h2 {
  background-color: rgb(50, 211, 217); /*Light Blue*/
  font-size: 120%;
  text-align: center;
}
.content {
  background-color: rgb(222, 112, 106); /*Light Red*/
  font-size: 120%;\
}
.container {
  display: flex;
  gap: 20px;
}
.div1, .div2{
  flex: 1;
}
li {
  text-align: left;
  font-size: 120%;
  border: 2px solid black;
  background-color: rgb(227, 222, 134); /*Light Yellow*/
  width: 100px;
  padding: 10px;
}
