/*
rgb(150, 219, 121) Light Green
rgb(50, 211, 217) Light Blue
rgb(227, 222, 134) Light Yellow
*/
h1 {
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  background-color: rgb(50, 211, 217);
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
}
p {
  font-size: 18px;
  text-align: center;
}
ul {
  text-size: 22px;
  font-weight: bold;
  display: block;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  background-color: rgb(227, 222, 134);
}
body {
  bacground-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}
main {
  flex-grow: 1;
}
a:link {
  color: blue;
  text-decoration: underline;
}
a:visited {
  color: purple;
  text-decoration: underline;
}
a:hover {
  color: green;
  text-decoration: underline;
}
a:active {
  color: red;
}
footer {
  padding: 15px;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  background-color: rgb(150, 219, 121);
}
.logo {
  max-width: 100px;
  max-height: 100px;
  float: center;
}
fieldset {
  width: 200px;
}
